* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    height: 70px;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pelicula {
    text-align: center;
    
}